﻿@model IEnumerable<TelefonAksesuar.Models.Siparisler>

@{
    ViewBag.Title = "Siparişler";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Siparişler
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Anasayfa", "Index", "Home")

                </li>
                <li class="active">Gelen Siparişler</li>
            </ol>
        </div>
    </div>

    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SiparisOzet)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarih)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Uyeler.Ad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fiyat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Durum)                
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ int sayi = 0;}
            @foreach (var item in Model)
            {
                sayi = sayi + 1;
                string stil = "active";
                if (sayi % 2 == 1) { stil = ""; }
                <tr class="@stil">
                    <td>
                        @Html.DisplayFor(modelItem => item.SiparisOzet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarih)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Uyeler.Ad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fiyat) TL
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Durum)                       
                    </td>
                    <td>
                        @Html.ActionLink("Duzenle", "Duzenle", new { id = item.SiparisID }) |
                        @Html.ActionLink("Sil", "Sil", new { id = item.SiparisID })
                    </td>
                </tr>
            }
            </tbody>
</table>
</div>