﻿@model TelefonAksesuar.ViewModels.UyeGirisModel
@{
    ViewBag.Title = "Üye Giriş Formu";
}



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               @TelefonAksesuar.Resources.lang.Giris
             </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink(@TelefonAksesuar.Resources.lang.Anasayfa, "Index", "Home")
                </li>
                <li class="active">@TelefonAksesuar.Resources.lang.Giris</li>
            </ol>
           
           <br /><br />

            <fieldset>
                <center>
                    @if (Model.KullaniciyaMesaj != null)
                    {
                        <div class="alert alert-dismissible alert-danger" style="width:350px;height:50px">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @Model.KullaniciyaMesaj
                        </div>
                    }
                </center>
                @using (Html.BeginForm("Index", "Giris", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    if (@ViewBag.Message != null)
                    {
                        <div style="border:1px solid red">
                            @ViewBag.Message
                        </div>
                    }

                    string kadi, sifre;
                    if (Request.Cookies["cerez"]!=null) //çerez varsa
                    {
                    
                        HttpCookie aktifCerez = Request.Cookies["cerez"];
                        kadi = aktifCerez.Values["kadi"];
                        sifre = aktifCerez.Values["sifre"];
                    }
                    else
                    {
                        kadi = "";
                        sifre = "";
                    }


                    <div class="row">
                        <table align="center">

                            <tr>
                                <td width="125px" align="right"><br /> <label>@Html.Label(TelefonAksesuar.Resources.lang.KullanıcıAdı):&nbsp;&nbsp;</label> </td>
                                <td><br /> @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control",@Value=kadi }) @Html.ValidationMessageFor(m => m.KullaniciAdi)</td>
                            </tr>
                            <tr>
                                <td width="125px" align="right"><br /> <label>@Html.Label(TelefonAksesuar.Resources.lang.Sifre):&nbsp;&nbsp;</label> </td>
                                <td><br /> @Html.PasswordFor(m => m.Sifre, new { @class = "form-control",@Value=sifre })  @Html.ValidationMessageFor(m => m.Sifre)</td>
                            </tr>
                            <tr>
                                <td width="125px" align="right" colspan="2">
                                    <br /> @Html.CheckBoxFor(m => m.Hatirla,true) &nbsp;&nbsp; @TelefonAksesuar.Resources.lang.BeniHatırla                                                          
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="right"><br /> <input class="btn btn-primary" type="submit" value="@TelefonAksesuar.Resources.lang.Giris"> </td>
                            </tr>
                        </table>

                    </div>
                }
            </fieldset>
            <br /><br />
        </div>
    </div>
    
</div>

@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval") 

   }

