﻿@model TelefonAksesuar.Models.Uyeler

@{
    ViewBag.Title = "Üye Ekle";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Yeni Üye
                <small> </small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Anasayfa", "Index", "Home")

                </li>
                <li class="active">Üye Ekle</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2></h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><br /></h4>
                        <a href="/UyeDuzenle/Index" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Üye" style="margin-top:-33px;">Tüm Üyeler</a>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="form-horizontal">

                                <table align="center" cellspacing="20" cellpadding="50">
                                    <tr>
                                        <td width="125px" align="right"> <label>@Html.LabelFor(m => m.Ad):&nbsp;&nbsp;</label> </td>
                                        <td> @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.Ad) </td>
                                    
                                        <td width="125px" align="right"> <label>@Html.LabelFor(m => m.Soyad):&nbsp;&nbsp;</label> </td>
                                        <td> @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.Soyad)</td>
                                    </tr>
                                    <tr>
                                        <td width="125px" align="right"> <label>@Html.LabelFor(m => m.EMail):&nbsp;&nbsp;</label> </td>
                                        <td> @Html.TextBoxFor(m => m.EMail, new { @class = "form-control" })@Html.ValidationMessageFor(m => m.EMail) </td>
                                    
                                        <td width="125px" align="right"> <label>@Html.LabelFor(m => m.KullaniciAdi):&nbsp;&nbsp;</label> </td>
                                        <td> @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.KullaniciAdi)</td>
                                    </tr>
                                    <tr>
                                        <td width="125px" align="right"><label>@Html.LabelFor(m => m.Sifre):&nbsp;&nbsp;</label> </td>
                                        <td> @Html.PasswordFor(m => m.Sifre, new { @class = "form-control" })  @Html.ValidationMessageFor(m => m.Sifre)</td>
                                    
                                        <td width="125px" align="right"><label>@Html.LabelFor(m => m.Yas):&nbsp;&nbsp;</label> </td>
                                        <td> @Html.TextBoxFor(m => m.Yas, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.Yas)</td>
                                    </tr>
                                    <tr>
                                        <td width="125px" align="right"> <label>@Html.LabelFor(m => m.Sehir):&nbsp;&nbsp;</label> </td>
                                        <td>@Html.TextBoxFor(m => m.Sehir, new { @class = "form-control" }) @Html.ValidationMessageFor(m => m.Sehir)</td>
                                    
                                        <td width="125px" align="right"> <label>@Html.LabelFor(m => m.Yetki):&nbsp;&nbsp;</label> </td>
                                        <td>
                                            @Html.DropDownListFor(m => m.Yetki, new List<SelectListItem>
                                          {
                                            new SelectListItem() {Text = "admin"},
                                            new SelectListItem() {Text = "uye"},                                        
                                         }, new { @class = "form-control" })                                       
                                        @Html.ValidationMessageFor(m => m.Yetki)</td>
                                    </tr>
                                    <tr>
                                        <td width="125px" align="right"> <label>@Html.LabelFor(m => m.Adres):&nbsp;&nbsp;</label> </td>
                                        <td>
                                            @Html.TextAreaFor(m => m.Adres, new { @class = "form-control", cols = 30, rows = 7, style = "resize:none" })@Html.ValidationMessageFor(m => m.Adres)
                                        </td>
                                        
                                 
                                        <td colspan="2" align="right"> <button class="btn btn-default" type="submit">Üye Ekle</button> </td>
                                    </tr>
                                </table>

                          

                                </div>
                        </div>
                     </div>
                  </div>
             }
                        
        
        </div>
            
     </div>
               
 </div>






