﻿@model TelefonAksesuar.Models.Uyeler

@{
    ViewBag.Title = "Güncelle";
}

<h2></h2>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Profil Güncelleme Formu</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.UyeID)

            <div class="form-group">
                @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Ad, new { @class = "form-control",style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.Ad)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Soyad, new { @class = "form-control", style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.Soyad)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.EMail, new { @class = "form-control", style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.EMail)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KullaniciAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.KullaniciAdi, new { @class = "form-control", style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.KullaniciAdi)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(mode=>Model.Sifre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Sifre, new { @class = "form-control", style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.Sifre)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Yas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Yas, new { @class = "form-control", style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.Yas)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sehir, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Sehir, new { @class = "form-control", style = "width:250px;" })
                    @Html.ValidationMessageFor(model => model.Sehir)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Adres, new { @class = "form-control", style = "width:250px; resize:none", cols = 30, rows = 7 })
                    @Html.ValidationMessageFor(model => model.Adres)
                </div>
            </div>
            @Html.HiddenFor(model => model.Yetki, "uye")


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="GÜNCELLE" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

        <div>
            @Html.ActionLink("İptal Et", "Index")
        </div>
   </div>

@section scripts{


    @Scripts.Render("~/bundles/jqueryval")
}