﻿@model IEnumerable<TelefonAksesuar.Models.Uyeler>

@{
    ViewBag.Title = "Profilim";
}





<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Profil Bilgilerim
                <small>-@Session["kadi"]</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Anasayfa", "Index", "Home")

                </li>
                <li class="active">Profilim</li>
            </ol>
        </div>
    </div>

    <h2></h2>
    @foreach (var item in Model)
    {
        if (item.UyeID.ToString() == Session["id"].ToString())
        {
            <hr />
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Ad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => item.Ad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Soyad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => item.Soyad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EMail)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => item.EMail)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.KullaniciAdi)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => item.KullaniciAdi)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Sifre)
                    </dt>

                    <dd>
                        @Html.Label("******")
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Yas)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => item.Yas)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Sehir)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => item.Sehir)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Adres)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => item.Adres)
                    </dd>



                </dl>
            </div>
            <p>
                @Html.ActionLink("Düzenle", "Duzenle", new { id = item.UyeID })
            </p>
        }
    }
</div>