﻿@model IEnumerable<TelefonAksesuar.Models.Urunler>
@{
    ViewBag.Title = @TelefonAksesuar.Resources.lang.Kılıflar;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               @TelefonAksesuar.Resources.lang.Kılıflar
                <small>@TelefonAksesuar.Resources.lang.KaliteliVeŞık</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink(TelefonAksesuar.Resources.lang.Anasayfa, "Index", "Home")
                </li>
                <li class="active">@TelefonAksesuar.Resources.lang.Kılıflar</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">

        
        @foreach (var urun in Model)
        {
            if (urun.Kategori == "Kılıf")
            {
                <div class="col-md-4 portfolio-item">
                    <a href="@Url.Action("UrunDetay","Urunler", new { id = urun.UrunID })">
                      <img src="~/Images/Urunler/@urun.Resim" class="img-responsive" style="height:250px">
                    </a>
                    <h3>
                        <a href="@Url.Action("UrunDetay", "Urunler", new { id = urun.UrunID })">@urun.Marka  @urun.Model</a>
                    </h3>
                    <p>@TelefonAksesuar.Resources.lang.Fiyat :@urun.Fiyat @TelefonAksesuar.Resources.lang.ParaBirimi</p>
                    <a href="@Url.Action("UrunDetay", "Urunler", new { id = urun.UrunID })" class="btn btn-primary">@TelefonAksesuar.Resources.lang.UrunDetayı <i class="fa fa-angle-right"></i></a>
                </div>
               
            }
        }
       

        
    </div>
    <hr>
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">«</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>