﻿@{
    ViewBag.Title = @TelefonAksesuar.Resources.lang.ŞarjCihazları;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @TelefonAksesuar.Resources.lang.ŞarjCihazları
                <small>@TelefonAksesuar.Resources.lang.KaliteliVeŞık</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                  @Html.ActionLink(TelefonAksesuar.Resources.lang.Anasayfa, "Index", "Home")
                </li>
                <li class="active">@TelefonAksesuar.Resources.lang.ŞarjCihazları</li>
            </ol>
        </div>
    </div>

        @foreach (var urun in Model)
        {
            if (urun.Kategori == "Sarj Cihazı")
            {
                <div class="row">
                    <div class="col-md-7">
                        <a href="@Url.Action("UrunDetay","Urunler", new { id = urun.UrunID })">
                            <img src="~/Images/Urunler/@urun.Resim" class="img-responsive" style="height:350px">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3>@urun.Marka </h3>
                        <h4>@urun.Model</h4>
                        <p>@TelefonAksesuar.Resources.lang.Fiyat : @urun.Fiyat @TelefonAksesuar.Resources.lang.ParaBirimi</p>
                        <a href="@Url.Action("UrunDetay", "Urunler", new { id = urun.UrunID })" class="btn btn-primary">@TelefonAksesuar.Resources.lang.UrunDetayı <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <hr>

            }
        }

    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">«</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">»</a>
                </li>
            </ul>
        </div>
    </div>
</div>