﻿@model TelefonAksesuar.Models.Yorumlar


@foreach (var urun in ViewBag.Urunler)
{
    if (urun.UrunID == ViewBag.urunID)
    {
        @urun.UrunID;

        ViewBag.Title = @urun.Marka + " " + @urun.Model + " " + @urun.Kategori;

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @urun.Marka @urun.Model
               
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Anasayfa", "Index", "Home")
                </li>
                
                <li class="active">@urun.Kategori</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img src="~/Images/Urunler/@urun.Resim" class="img-responsive">
        </div>
        
        <div class="col-md-4">
            <h3>@urun.Marka @urun.Model @urun.Kategori</h3>

            <ul>
                <li>Fiyat : @urun.Fiyat  TL     </li>
            </ul>
            

            @if (Session["id"] != null)
            {
                <a href="@Url.Action("SepeteEkle", "Urunler", new { Uyeid = Session["id"], urunAd = urun.Marka + " " + urun.Model + " " + urun.Kategori, fiyat = urun.Fiyat })" class="btn btn-primary">Sepete Ekle </a>
            }
            else
            {
                <br /><br /><h4><font style="color:red">**Ürünü sepetinize ekleyebilmek için sisteme  @Html.ActionLink("Giriş", "Index", "Giris")  yapmalısınız</font></h4>
            }
        </div>
    </div>
    <div class="row">
       
        <hr>
        <!-- yorumlar -->
        @{
            int yorumSayisi = 0;
        }

        @foreach (var yorum in ViewBag.Yorumlar)
        {
            if (yorum.UrunID == ViewBag.urunID)
            {
                <blockquote>
                    <p>@yorum.Yorum</p>
                    <small>@yorum.KullaniciAdi tarafından @yorum.YorumTarih </small>
                </blockquote>

                yorumSayisi++;
            }
        }
        @if (yorumSayisi == 0)
        {
            <label> Bu ürün hakkında yorum yapılmamış.</label>
        }

        <hr>
        <!-- yorum yazma kutusu-->
        @if (Session["kadi"] != null)
        {
            <div class="well">
                <h4>Yorumunuz:</h4>

                @using (Html.BeginForm("YorumEkle", "Urunler", new { urunID = urun.UrunID, kadi = Session["kadi"].ToString(), tarih = DateTime.Now.ToString() }))
                {
                    <div class="form-group">
                        @Html.TextAreaFor(m => m.Yorum, new { @class = "form-control", cols = 30, rows = 3, style = "resize:none" })@Html.ValidationMessageFor(m => m.Yorum)
                    </div>
                    <button class="btn btn-primary" type="submit">Yaz</button>
                }

            </div>
        }

    </div>
</div>

        }
    }