﻿@{
    ViewBag.Title = "Anasayfa";
}
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <div class="fill" style="background-image:url('../../Images/kulaklik.png');"></div>
        </div>

        <div class="item">
            <div class="fill" style="background-image:url('../../Images/kilif.png');"></div>
        </div>
        
        <div class="item">
            <div class="fill" style="background-image:url('../../Images/sarj.png');"></div>
        </div>
    </div>




    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <table>
                    <tr>
                        <td><img src="~/Images/hizli.png" /></td>
                        <td>
                            <h2><i class="fa fa-check-circle"></i> @TelefonAksesuar.Resources.lang.HızlıKargo</h2>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><p><br />@TelefonAksesuar.Resources.lang.HızlıKargoAciklama</p></td>
                    </tr>
                </table>    
            </div>

            <div class="col-lg-4 col-md-4">
                <table>
                    <tr>
                        <td><img src="~/Images/kapi.png" /></td>
                        <td align="center">
                            <h2><i class="fa fa-pencil"></i>@TelefonAksesuar.Resources.lang.KapıdaOdeme </h2>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><p><br />@TelefonAksesuar.Resources.lang.KapıdaOdemeAciklama</p></td>
                    </tr>
                </table>
            </div>


            <div class="col-lg-4 col-md-4">
                <table>
                    <tr>
                        <td><img src="~/Images/iade.png" /></td>
                        <td>
                            <h2><i class="fa fa-pencil"></i>@TelefonAksesuar.Resources.lang.İadeSecenegi</h2>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><p><br />@TelefonAksesuar.Resources.lang.İadeSecenegiAciklama</p></td>
                    </tr>
                </table>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

